<!DOCTYPE html>
	<html style="height:100%">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - My ASP.NET Application</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu">
		<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	</head>
	<body class="backdrop" style="font-family:Ubuntu, sans-serif;height:100%;">
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

					</button>
					@Html.ActionLink("AutoDrawer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				</div>
				<div class="navbar-collapse navbar-offset collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
					</ul>
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Upload an Image", "Index", "ImageUpload")</li>
					</ul>
					@Html.Partial("_LoginPartial")
				</div>
			</div>
		</div>
		<div class="container body-content" style="background-color:white; min-height:95%; margin-top:15px">
			@RenderBody()
		</div>
		<footer class="container" style="">
			<p>&copy; @DateTime.Now.Year - Jared Frenzel</p>
		</footer>
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
	</body>
</html>